<%- include('partials/header') %>

<div class='container'>
	<div class='container shadow-lg'>
	<h1 class='text-center'>
		EDIT <%= blog.title %>
	</h1>
	<form action='/blogs/<%= blog._id %>?_method=PUT' method='POST'>
		<div>
			<p>
				Title
			</p>
			<input type='text' name='blog[title]' placeholder='title' value='<%= blog.title %>'>
		</div>
		<div>
			<p>
				Image
			</p>
			<input type='text' name='blog[image]' placeholder='image' value='<%= blog.image %>'>
		</div>
		<div>
			<p>
				Body
			</p>
			<textarea type='text' name='blog[body]' placeholder='Blog post goes here..'><%= blog.body %></textarea>
		</div><br>
		<div class='mb-3'>
			<button type='submit' class='btn btn-primary'>
				Submit
			</button>
		</div>
		<br>
	</form>
		
		
	</div>
	
</div>

<%- include('partials/footer') %>